<!doctype html>
<html lang="zh-Hans-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>清芷的博客 - $title$</title>
        <link rel="stylesheet" href="/css/fifthave.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/banana.css" />
        <link rel="stylesheet" href="/css/katex.min.css" />
        <script src="/js/jquery-3.6.1.min.js"></script>
        <script src="/js/proof-collapse.js"></script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">清芷的博客</a>
            </div>
            <nav>
                <a href="/">首页</a>
                <a href="/about.html">关于</a>
                <a href="/contact.html">联系</a>
                <a href="/friends.html">友链</a>
                <a href="/archive.html">归档</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            ♥ 由
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
            生成！

            © 遵循
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                CC-BY 4.0
            </a>
            知识共享协议.
        </footer>
    </body>
</html>
